<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hs.Dao.ModleDBMapper">
    <resultMap id="modleResult" type="hs.Bean.ControlModle">
        <id property="modleId" column="modleId"/>
        <result property="modleName" column="modleName"/>
        <result property="predicttime_P" column="predicttime_P"/>
        <result property="controlAPCOutCycle" column="controlAPCOutCycle"/>
        <result property="timeserise_N" column="timeserise_N"/>
        <result property="controltime_M" column="controltime_M"/>
        <result property="modleEnable" column="modleEnable"/>

        <collection property="modlePins" column="modleId" ofType="hs.Bean.ModlePin" select="findModlePins"/>

        <collection property="responTimeSerises" column="modleId" ofType="hs.Bean.ResponTimeSerise"
                    select="findModleRespon"/>

        <!--<collection property="unhandleTag" ofType="hs.Bean.ModleTag">-->
        <!--<id property="modletagId" column="modletagId"/>-->
        <!--<result property="modleId" column="refrencemodleId"/>-->
        <!--<result property="iotype" column="iotype"/>-->
        <!--<result property="limitHigh" column="limitHigh"/>-->
        <!--<result property="limitLow" column="limitLow"/>-->
        <!--<result property="limitHighRes" column="limitHighRes"/>-->
        <!--<result property="limitLowRes" column="limitLowRes"/>-->
        <!--<result property="stepRespJson" column="stepRespJson"/>-->
        <!--<result property="Q" column="Q"/>-->
        <!--<result property="R" column="R"/>-->
        <!--<association property="tagclazz" javaType="hs.Bean.ModlePin column="{id=refrencetagId,modleId=refrencemodleId}" select="findModlePins"/>-->
        <!--<association property="pvTag" javaType="hs.Bean.ModlePin column="{id=PVTagrefrenceId,modleId=refrencemodleId}" select="findModlePins"/>-->
        <!--<association property="backValueTag" javaType="hs.Bean.ModlePin column="{id=backValue,modleId=refrencemodleId}" select="findModlePins"/>-->
        <!--<discriminator javaType="string" column="iotype">-->
        <!--<case value="mv" resultType="hs.Bean.MVModleTag"/>-->
        <!--<case value="ff" resultType="hs.Bean.FFModleTag"/>-->
        <!--<case value="sp" resultType="hs.Bean.SPModleTag"/>-->
        <!--<case value="pv" resultType="hs.Bean.PVModleTag"/>-->
        <!--</discriminator>-->
        <!--</collection>-->
    </resultMap>


    <resultMap id="pinResult" type="hs.Bean.ModlePin">
        <id property="modlepinsId" column="modlepinsId"/>
        <result property="reference_modleId" column="reference_modleId"/>
        <result property="modleOpcTag" column="modleOpcTag"/>
        <result property="modlePinName" column="modlePinName"/>
        <result property="opcTagName" column="opcTagName"/>
        <result property="resource" column="resource"/>
        <result property="Q" column="Q"/>
        <result property="dmvHigh" column="dmvHigh"/>
        <result property="deadZone" column="deadZone"/>
        <result property="funelinitValue" column="funelinitValue"/>
        <result property="R" column="R"/>
        <result property="dmvLow" column="dmvLow"/>
        <result property="referTrajectoryCoef" column="referTrajectoryCoef"/>
        <result property="tracoefmethod" column="tracoefmethod"/>
        <result property="funneltype" column="funneltype"/>
        <result property="pintype" column="pintype"/>
        <result property="pinEnable" column="pinEnable"/>
        <result property="updateTime" column="updateTime" typeHandler="hs.Dao.Handler.InstantHandler"/>
        <association property="filter" javaType="hs.Filter.Filter" column="modlepinsId" select="findfilterByid"/>
        <association property="shockDetector" javaType="hs.ShockDetect.ShockDetector" column="modlepinsId"
                     select="getShockDetetetor"/>
    </resultMap>

    <resultMap id="filterResult" type="hs.Filter.Filter">
        <id property="pk_filterid" column="pk_filterid"/>
        <result property="pk_pinid" column="pk_pinid"/>
        <result property="backToDCSTag" column="backToDCSTag"/>
        <result property="filtername" column="filtername"/>
        <result property="opcresource" column="opcresource"/>
        <discriminator javaType="string" column="filtername">
            <case value="mvav" resultType="hs.Filter.MoveAverageFilter">
                <result property="capacity" column="filter_time"/>
            </case>
            <case value="fodl" resultType="hs.Filter.FirstOrderLagFilter">
                <result property="filter_alphe" column="filter_alphe"/>
            </case>
        </discriminator>
    </resultMap>

    <resultMap id="shockdetectResult" type="hs.ShockDetect.ShockDetector">
        <id property="pk_shockdetectid" column="pk_shockdetectid"/>
        <result property="backToDCSTag" column="backToDCSTag"/>
        <result property="opcresource" column="opcresource"/>
        <result property="dampcoeff" column="dampcoeff"/>
        <result property="windowstime" column="windowstime"/>
        <result property="filtercoeff" column="filtercoeff"/>
        <result property="enable" column="enable"/>
        <result property="filterbacktodcstag" column="filterbacktodcstag"/>
        <result property="filteropcresource" column="filteropcresource"/>
    </resultMap>


    <select id="getModles" resultMap="modleResult">
      select * from modle
    </select>

    <select id="getModle" resultMap="modleResult">
        select * from modle where modleId=#{modleid}
    </select>


    <!--    List<ModlePin> pagePVpinsbymodleid(@Param("modleid")int modleid);-->
    <select id="pagepinsbymodleid" resultType="hs.Bean.ModlePin">
        select * from modlepins where pintype=#{pintype} and reference_modleId=#{modleid} order by modlePinName ASC limit #{page},#{pagesize}
    </select>


    <select id="pinsbypintype" resultType="hs.Bean.ModlePin">
        select * from modlepins where pintype=#{pintype} and reference_modleId=#{modleid} order by modlePinName ASC
    </select>


    <!--    int countPVpinsbymodleid(@Param("modleid")int modleid,@Param("page") int page);-->

    <select id="countpinsbymodleid" resultType="java.lang.Integer">
        select count(*) from modlepins where pintype=#{pintype} and reference_modleId=#{modleid}
    </select>


    <select id="findModlePin" parameterType="java.util.Map" resultType="hs.Bean.ModlePin">
        select * from modlepins where modlepinsId=#{id} and reference_modleId=#{modleId}
    </select>

    <select id="findModlePins" resultMap="pinResult">
        select * from modlepins where reference_modleId=#{modleId}
    </select>


    <insert id="insertModle" parameterType="hs.Bean.ControlModle" useGeneratedKeys="true" keyColumn="modleId"
            keyProperty="modleId">
        insert into modle(modleName, controlAPCOutCycle, predicttime_P, timeserise_N, controltime_M, modleEnable) values
        (#{controlModle.modleName},#{controlModle.controlAPCOutCycle},#{controlModle.predicttime_P},#{controlModle.timeserise_N},#{controlModle.controltime_M},#{controlModle.modleEnable})
    </insert>

    <update id="modifymodle">
        update modle set modleName=#{controlModle.modleName}, controlAPCOutCycle=#{controlModle.controlAPCOutCycle}, predicttime_P=#{controlModle.predicttime_P}, timeserise_N=#{controlModle.timeserise_N}, controltime_M=#{controlModle.controltime_M}
        where modleId=#{modleid}
    </update>

    <update id="updatemodleEnable">
        update modle set modleEnable=#{enable}
        where modleId=#{modleid}
    </update>


    <select id="findModleRespon" resultType="hs.Bean.ResponTimeSerise">
        select * from modlerespon where refrencemodleId=#{modleId}
    </select>

    <select id="getBaseConf" resultType="hs.Bean.BaseConf">
        select * from company
    </select>

    <insert id="insertModlePins" parameterType="hs.Bean.ModlePin" useGeneratedKeys="true" keyProperty="modlepinsId">
        insert into modlepins(reference_modleId, modleOpcTag, modlePinName, opcTagName, resource, Q,
        R,deadZone,funelinitValue,dmvHigh,dmvLow,referTrajectoryCoef,funneltype,pinEnable,pintype,tracoefmethod)
        values
        <foreach collection="modlePins" item="pin" separator=",">
            (#{pin.reference_modleId}, #{pin.modleOpcTag}, #{pin.modlePinName}, #{pin.opcTagName},
            #{pin.resource}, #{pin.Q},
            #{pin.R},#{pin.deadZone},#{pin.funelinitValue},#{pin.dmvHigh},#{pin.dmvLow},#{pin.referTrajectoryCoef},#{pin.funneltype},#{pin.pinEnable},#{pin.pintype},#{pin.tracoefmethod})
        </foreach>

    </insert>


    <insert id="insertModlePin" parameterType="hs.Bean.ModlePin" useGeneratedKeys="true" keyProperty="modlepinsId">
        insert into modlepins(reference_modleId, modleOpcTag, modlePinName, opcTagName, resource, Q, R,deadZone,funelinitValue,dmvHigh,dmvLow,referTrajectoryCoef,funneltype,pinEnable,pintype,tracoefmethod)
        value (#{pin.reference_modleId}, #{pin.modleOpcTag},  #{pin.modlePinName}, #{pin.opcTagName},
            #{pin.resource}, #{pin.Q}, #{pin.R},#{pin.deadZone},#{pin.funelinitValue},#{pin.dmvHigh},#{pin.dmvLow},#{pin.referTrajectoryCoef},#{pin.funneltype},#{pin.pinEnable},#{pin.pintype},#{pin.tracoefmethod})
    </insert>


    <update id="updatepinEnable">
        update modlepins set pinEnable=#{enable}
        where modlepinsId=#{pinid}
    </update>


    <update id="updatepin" parameterType="hs.Bean.ModlePin">
        update modlepins set modleOpcTag=#{pin.modleOpcTag},
                            modlePinName=#{pin.modlePinName},
                            opcTagName=#{pin.opcTagName},
                            resource=#{pin.resource},
                            Q=#{pin.Q},
                            dmvHigh=#{pin.dmvHigh},
                            deadZone=#{pin.deadZone},
                            funelinitValue=#{pin.funelinitValue},
                            R=#{pin.R},
                            dmvLow=#{pin.dmvLow},
                            referTrajectoryCoef=#{pin.referTrajectoryCoef},
                            funneltype=#{pin.funneltype},
                            tracoefmethod=#{pin.tracoefmethod},
                            updateTime=current_timestamp()
        where modlepinsId=#{pin.modlepinsId}
    </update>


    <delete id="deleteModlePins">
        delete from modlepins where reference_modleId=#{modleid}
    </delete>


    <delete id="deleteModlePinbypinid">
        delete from modlepins where modlepinsId=#{pinid}
    </delete>


    <insert id="insertModleResps" useGeneratedKeys="true" keyColumn="modletagId" keyProperty="modletagId">
        insert into modlerespon(refrencemodleId, stepRespJson, inputPins, outputPins) values
        <foreach collection="responTimeSerises" item="resp" separator=",">
            (#{resp.refrencemodleId}, #{resp.stepRespJson}, #{resp.inputPins}, #{resp.outputPins})
        </foreach>
    </insert>



<!--    void insertModleResp(@Param("responTimeSerises") ResponTimeSerise responTimeSerise);-->
    <insert id="insertModleResp" useGeneratedKeys="true" keyColumn="modletagId" keyProperty="modletagId">
        insert into modlerespon(refrencemodleId, stepRespJson, inputPins, outputPins) value
        (#{responTimeSerises.refrencemodleId}, #{responTimeSerises.stepRespJson}, #{responTimeSerises.inputPins}, #{responTimeSerises.outputPins})
    </insert>


<!--    void updateModleResp(@Param("responTimeSerises") ResponTimeSerise responTimeSerise)-->
    <update id="updateModleResp" parameterType="hs.Bean.ResponTimeSerise">
        update modlerespon set refrencemodleId=#{responTimeSerises.refrencemodleId}, stepRespJson= #{responTimeSerises.stepRespJson}, inputPins=#{responTimeSerises.inputPins}, outputPins=#{responTimeSerises.outputPins} where modletagId=#{responTimeSerises.modletagId}
    </update>

    <delete id="deleteModleRespbymodleid">
        delete from modlerespon where refrencemodleId=#{modleid}
    </delete>

    <delete id="deleteModleRespbyresponid">
        delete from modlerespon where modletagId=#{responid}
    </delete>

<!--    List<ResponTimeSerise> pageresponymodleid(@Param("modleid") int modleid,@Param("page") int page, @Param("pagesize") int pagesize);-->

    <select id="pageresponymodleid" resultType="hs.Bean.ResponTimeSerise">
        select * from modlerespon where refrencemodleId=#{modleid} order by inputPins ASC limit #{page},#{pagesize}
    </select>


<!--    ResponTimeSerise findPinbyresponid(@Param("responid") int responid);-->
    <select id="findPinbyresponid" resultType="hs.Bean.ResponTimeSerise">
        select * from modlerespon where modletagId=#{responid}
    </select>


    <!--    int countresponbymodleid(@Param("modleid") int modleid);-->

    <select id="countresponbymodleid" resultType="java.lang.Integer">
        select count(*) from modlerespon where refrencemodleId=#{modleid}
    </select>


    <delete id="deleteModle">
        delete from modle where modleId=#{modleid}
    </delete>

    <insert id="insertPinsFODLFilter" parameterType="hs.Filter.FirstOrderLagFilter" useGeneratedKeys="true"
            keyProperty="pk_filterid">
        insert into filter(filtername, filter_alphe, pk_pinid,backToDCSTag,opcresource)
        values (#{filter.filtername},#{filter.filter_alphe},#{filter.pk_pinid},#{filter.backToDCSTag},#{filter.opcresource})
    </insert>

    <insert id="insertPinsMVAVFilter" parameterType="hs.Filter.MoveAverageFilter" useGeneratedKeys="true"
            keyProperty="pk_filterid">
        insert into filter(filtername, filter_time, pk_pinid,backToDCSTag,opcresource)
        values (#{filter.filtername},#{filter.capacity},#{filter.pk_pinid},#{filter.backToDCSTag},#{filter.opcresource})
    </insert>



    <update id="updatePinsFODLFilter" parameterType="hs.Filter.FirstOrderLagFilter">
        update filter set filtername=#{filter.filtername},
         filter_alphe=#{filter.filter_alphe},
         pk_pinid=#{filter.pk_pinid},
         backToDCSTag=#{filter.backToDCSTag},
         opcresource=#{filter.opcresource}
         where pk_filterid=#{filter.pk_filterid}
    </update>

    <update id="updatePinsMVAVFilter" parameterType="hs.Filter.MoveAverageFilter">
        update filter set filtername=#{filter.filtername},
        filter_time=#{filter.capacity},
        pk_pinid=#{filter.pk_pinid},
        backToDCSTag=#{filter.backToDCSTag},
        opcresource=#{filter.opcresource}
       where pk_filterid=#{filter.pk_filterid}
    </update>


    <select id="findfilterByid" resultMap="filterResult">
        select * from filter where pk_pinid=#{modlepinsId}
    </select>


    <delete id="deletePinsFilter">
        delete from filter where pk_pinid=#{modlepinsId}
    </delete>


    <delete id="deletePinsFilterbyfilterid">
        delete from filter where pk_filterid=#{filterid}
    </delete>




    <insert id="insertShockDetetetor" parameterType="hs.ShockDetect.ShockDetector" useGeneratedKeys="true"
            keyProperty="pk_shockdetectid">
        insert into shockdetect(pk_pinid,backToDCSTag,opcresource,dampcoeff,windowstime,filtercoeff,enable,filterbacktodcstag,filteropcresource) value (#{detector.pk_pinid},#{detector.backToDCSTag},#{detector.opcresource},#{detector.dampcoeff},#{detector.windowstime},#{detector.filtercoeff},#{detector.enable},#{detector.filterbacktodcstag},#{detector.filteropcresource})
    </insert>

    <select id="getShockDetetetor" resultMap="shockdetectResult">
       select * from shockdetect where pk_pinid=#{id}
    </select>

    <delete id="removeShockDetetetor">
        delete from shockdetect where pk_shockdetectid=#{shockid}
    </delete>

    <update id="updateShockDetetetor" parameterType="hs.ShockDetect.ShockDetector">
        update shockdetect set pk_pinid=#{detector.pk_pinid},backToDCSTag=#{detector.backToDCSTag},opcresource=#{detector.opcresource},opcresource=#{detector.opcresource},dampcoeff=#{detector.dampcoeff},windowstime=#{detector.windowstime},filtercoeff=#{detector.filtercoeff},enable=#{detector.enable},filterbacktodcstag=#{detector.filterbacktodcstag},filteropcresource=#{detector.filteropcresource} where pk_shockdetectid=#{detector.pk_shockdetectid}
    </update>




<!--    ModlePin  findPinbypinid(@Param("pinid") int pinid);-->
    <select id="findPinbypinid" resultMap="pinResult" >
        select * from modlepins where modlepinsId=#{pinid}
    </select>

<!--    ModlePin  findPinbypinmodleidAndpinname(@Param("modleid") int modleid,@Param("pinname")String pinname);-->

    <select id="findPinbypinmodleidAndpinname" resultMap="pinResult" >
        select * from modlepins where reference_modleId=#{modleid} and modlePinName=#{pinname}
    </select>


    <!--    void updateallpinip(@Param("oldip") String oldip, @Param("newip") String newip);-->

    <update id="updateallpinip">
        update modlepins set resource=#{newip} where resource=#{oldip}
    </update>

    <!--    void updateallfilterip(@Param("oldip") String oldip, @Param("newip") String newip);-->
    <update id="updateallfilterip">
        update filter set opcresource=#{newip} where opcresource=#{oldip}
    </update>


    <!--    void updateallshockdetectip(@Param("oldip") String oldip, @Param("newip") String newip);-->
    <update id="updateallshockdetectip">
        update shockdetect set opcresource=#{newip} where opcresource=#{oldip}
    </update>
    <update id="updateallshockdetectfilterip">
        update shockdetect set filteropcresource=#{newip} where filteropcresource=#{oldip}
    </update>


</mapper>