#mainbody{
    width: 100%;height: 100%;
    background-color: rgb(3, 83, 133);
}

#leftup_box{
    position: absolute;
    width: 49%;height: 64%;left: 1%;top: 1%;
    border: 1px solid white;
}

#rightup_box{
    position: absolute;
    width: 49%;height: 64%;left: 50%;top: 1%;
    border: 1px solid white;
}

#down_box{
    position: absolute;
    width: 98%;height: 34%;left: 1%;top: 65%;
    border: 1px solid white;
}

#pram_box{
    position: absolute;
    width: 90%; height: 90%;left: 5%;top:5%;
    font-size: 1rem;color: white;
}

#base_pram{
    position: absolute;
    width: 26%; height: 100%;left: 0;top:0;
    font-size: 1rem;color: white;
}

#goal_pram{
    position: absolute;
    width: 20%; height: 100%;left: 26%;top:0;
    font-size: 1rem;color: white;
}

.pram_text{
    font-size: 1.1rem;color: white;
}

.submit{
    position: absolute;
    right: 10%;bottom: 10%;
}